.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    margin-left: 20px;
    color: red;
    cursor: pointer;
}

.active {
    color: #fff;
    font-weight: bold;
}

.movePaginator {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 10px;
    padding: 0 10px 5px 10px;
    text-decoration: none;
    font-size: 25px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;
}

.movePaginator:hover{
    background-color: #000;
    color: #fff;
}
