.myPosts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textarea{
    width: 350px;
    resize: none;
    height: 150px;
    border-radius: 20px;
    background: #000;
    padding: 10px;
    outline: none;
    color: greenyellow;
    font-style: italic;
}

h2{
    color: greenyellow;
}

button{
    padding: 10px 16px;
    background: red;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    margin-top: 15px;
}

.myPost{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.posts{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
