.nav {
    grid-area: n;
    background-color: blanchedalmond;
    padding: 20px;
}

.item a{
    color: red;
    text-decoration: none;
}

.item a.activeLink{
    color: green;
    font-weight: 900;
}