.mainimg {
    width: 100%;
    height: 350px;
}

.item {
    color: #fff;
}

.avatar {
    display: flex;
    justify-content: left;
    padding: 20px;
    background: yellow;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.profilePhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profilePhoto:hover .chooseFile{
    opacity: 1;
}

.profilePhoto img {
    width: 100%;
}

.info {
    line-height: 10px;
}

.info p {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    color: #000;
}
.info p span {
    margin-left: 20px;
    color: blue;
}

.statusInput {
    margin-top: 30px;
    appearance: none;
    border: none;
    outline: none;
    padding: 5px;
    background: yellow;
    color: purple;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    height: 100px;
    text-decoration: none;
    width: 110px;
    resize: none;
    height: 50px;
}

.statusInput:focus {
    background: #ffffff;
}
.statusText {
    color: purple;
    font-size: 18px;
    margin-top: 30px;
    font-weight: 700;
}

.chooseFile {
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
    text-align: center;
}

.chooseBase {
    display: none;
}

.chooseFile {
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    border-radius: 8px;
    color: #ffffff;
    padding: 5px 20px;
    cursor: pointer;
    position: absolute;
    top: 42%;   
    left: 12%;
    transition: .5s;
    opacity: 0;

}
