::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px grey;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3e4a70;
    border-radius: 10px;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
    background-color: #0a0e0be0;
    border-radius: 12px;
    box-shadow: 0 0 12px #174691;
    margin: 20px 10px 10px 10px;
}

.dialogs .dialog {
    padding: 15px;
}

.dialogsItems {
    height: 100%;
    color: grey;
}

.dialogsItems .active {
    color: greenyellow;
    font-weight: 900;
}

.dialogsItems .active::after {
    content: "<";
}

.dialog {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog a {
    text-decoration: none;
}

.dialog img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.messagesBlock {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 440px;
    position: relative;
    justify-content: space-between;
}

.messagesBlock .message {
    color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    background: #000;
    display: table;
}

.messagesBlock .message:last-child {
    margin-bottom: auto;
}

.messages {
    overflow-y: auto;
    width: 100%;
    display: block;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.typing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.typingArea {
    width: 600px;
    height: 30px;
    justify-self: flex-end;
    resize: none;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    display: block;
}

.sendBtn {
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: red;
    background-color: #000;
    border: none;
    box-shadow: 0 0 12px red;
    margin-left: 10px;
    transition: .5s;
}

.sendBtn:hover{
    background: red;
    color: #000;
}
